@media screen and (max-width: 768px) {
   
    .container {
        width: 761px;
    }
}

@media screen and (max-width: 480px) {
   
    .container {
        width: 460px;
    }

    .row {
        flex-wrap: wrap;
        row-gap: 4rem;
    }

    .row [class^='col'] {
        width: 100%;
    }

}