@media screen and (max-width: 768px) {
   
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
   
    
    .why-us {
        background-color: #222222;
        margin: -3rem 0;
        padding: 3rem 0;
    }

    .container {
        width: 90%;
    }

    .row {
        flex-wrap: wrap;
        row-gap: 4rem;
    }

    .row [class^='col'] {
        width: 100%;
    }

}